body{
background-color: #B7C3B0
}
a{
text-decoration:none;
}

.top-section{
padding-top: 40px;
}

.bottom-section{
padding: 40px 0 0 0;
}

.save-box{
margin-top: 40px;
}

.save-button{
color: #FFFFFF;
border: 4px solid #0275d8;
background-color: #0275d8;
border-radius: 6px;
}
.bottom-buffer{
margin-bottom:20px;
}
.task-container{
padding: 5px 5px 5xp 5px;
}

.task{
border-radius:5px;
background-color: #FFFFFF;
border: 4px solid #FFFFFF;
}