{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<!--entry for new todos items-->
<div class="container top-section">
    {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
</div>

<div class="container save-box">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <a href="{{ url_for('save_list') }}" class="save-button">Save List</a>
</div>
<div class="container bottom-section">
    <div class="row">
        <!--listing out todos not saved to a user-->
        {% if temp_todo != '' %}
        {% for todo in temp_todo %}
        <div class="col-lg-2">
            {{ todo | safe}}
            <!--delete task-->
            <a href="{{ url_for('delete_task', task_index=temp_todo.index(todo)) }}">❌ </a>
        </div>
        {% endfor %}
        {% endif %}
        <!--todos saved by user-->
        {% if todos %}
        {% for todo in todos %}
        <div class="col-lg-2">
            {{ todo.text | safe}}
            <a href="{{ url_for('delete_saved_task', task_id=todo.id) }}">❌ </a>
        </div>
        {% endfor %}
        {% endif %}
    </div>

</div>

</body>
</html>